//animação dos icones da seção de projetos

@keyframes react1 {
  from {
    opacity: 1;
    color: #61dafb;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes js1 {
  from {
    opacity: 1;
    color: #f0db4f;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes css1 {
  from {
    opacity: 1;
    color: #1572b6;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes sass1 {
  from {
    opacity: 1;
    color: #cb6699;
  }
  to {
    opacity: 0.6;
  }
}
@keyframes aws1 {
  from {
    opacity: 1;
    color: #f7a80d;
  }
  to {
    opacity: 0.6;
  }
}


  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(3.125rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


//animação de giro da foto da seção sobre
.circulo-giratorio {
  opacity: 1;
  transform-origin: center center;
  animation: gira-circulo 30s ease infinite forwards;
}

@keyframes gira-circulo {
  0%{
    transform: rotate(0deg);
  }
  100%{
     transform: rotate(360deg);
  }
}