$background: #090909;

$black-500: #101010;
$black-400: #202020;
$black-300: #303030;
$black-200: #505050;
$black-100: #707070;

$white-500: #9C9C9C;
$white-400: #BDBDBD;
$white-300: #DADADA;
$white-200: #EDEDED;
$white-100: #FFFFFF;

$primary-color-linear: linear-gradient(59.74deg, #5B0008 18.59%, #9F101C 94.84%);
$primary-color: #9F101C;

// box-shadows
$box-shadow-100: 2px 2px 8px rgba(0, 0, 0, 0.25);
$box-shadow-200: 4px 4px 8px rgba(0, 0, 0, 0.35);
$box-shadow-300: 6px 6px 12px rgba(0, 0, 0, 0.45);