header {

  a {
    color: $white-200;
    text-decoration: none;
    font-size: 1em;
    position: relative;
    letter-spacing: 1px;

    &::after {
      content: "";
      width: 0;
      height: 0.2rem;
      background: $primary-color-linear;
      position: absolute;
      left: 0;
      bottom: -0.4em;
      border-radius: 0 1rem 1rem 0;
      transition: 0.5s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .logo {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins' sans-serif;
    background: $background;
    height: 8vh;
  }

  .nav-list {
    list-style: none;
    display: flex;

    li {
      letter-spacing: 0.25rem;
      margin-left: 4rem;
    }
  }

  .mobile-menu {
    display: none;
    cursor: pointer;

    div {
      width: 2rem;
      height: 0.25em;
      background: $primary-color;
      margin: 0.5rem;
      border-radius: 0.25em;
    }
  }

  .nav-list.active {
    display: flex;
  }

@media only screen and (max-width: 64rem) {
  padding: 0 1rem;
}

  //media tablet 844px
  @media only screen and (max-width: 52.75rem) {
    body {
      overflow-x: hidden;
    }

    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 46vw;
      height: 48vh;
      background-color: $background;
      box-shadow: $box-shadow-300;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      display: none;
      transition: transform 0.3s ease-in;
      z-index: 99;

      li {
        margin-left: 0;
        opacity: 0;
      }
    }

    .mobile-menu {
      display: block;
    }
  }
}