@import "partials/colors";
@import "partials/header";
@import "partials/typography";
@import "partials/hero";
@import "partials/buttons";
@import "partials/projects";
@import "partials/animations";
@import "partials/habilidades";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
  background-color: $background;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: $background;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: $background;
}

::-webkit-scrollbar-thumb {
  background: $primary-color-linear;
  border-radius: 8px;
}


